<div class="reveal-modal" id="add-item-modal" data-closeOnBackgroundClick="false">
  <div class="row">
    <div class="small-12 large-6 column">
      <h3>Add an Item</h3>
      <form action="/items" id="create-item" method="POST">
        <input id="item_title" placeholder="Item Title" required="" type="text">
        <table class="key-vals"></table>
        <h4>Add arbitary key-values</h4>
        <table>
          <tr>
            <td><input class="item-key" id="item-key" placeholder="Key" type="text"></td>
            <td><input class="item-value" id="item-value" placeholder="Value" type="text"></td>
            <td><a class="button small" id="add-key-value">Add</a></td>
          </tr>
        </table>
        <textarea id="item_comments" placeholder="Comments"/>
        <input class="button success" type="submit" value="Create">
      </form>
    </div>
  </div>
  <a class="close-reveal-modal">×</a>
</div>