<div class="row">
  <div class="large-12 small-12 columns">
    <h3>Create Status Fields</h3>
    <div class="row">
      <div class="small-8 columns">
        <input type="text" id="status" required/>
      </div>
      <div class="small-4 columns">
        <a href="#" id="create-status" class="button prefix">Add</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 small-12 columns">
    <div id="status-list"></div>
  </div>
</div>
<div class="row save-status">
  <div class="large-12 small-12 columns">
    <a href="#" id="save-status" class="button success">Save Statuses</a>
  </div>
</div>