%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p 
          ♡ to code : Rocky Jaiswal
        - if user_signed_in?
          %span.feedback
            %p 
              |
            %a{href: "#", id: "send-feedback"} Give Feedback