%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p 
          ♡ to code : Rocky Jaiswal -
        %span.feedback
          %a{href: "#", id: "send-feedback"} Give Feedback