.instructions
  .header
    %h4 Welcome to StatusBoard v0.1
    %hr/
  .body
    %div
      %h4 1. Sign In / Sign Up
    %div
      %h4 2. Create a Board and Status Lanes
    %div
      %h4 3. Create Items and assign Status
    %div
      %h4 4. View and share the board