#instructions
  .header
    %h4 Welcome to StatusBoard v0.1
    %hr/
  .body
    %div
      %h4 1. Sign In / Sign Up
    %div
      %h4 2. Create a Board and Status lanes
    %div
      %h4 3. Create Items in their lanes
    %div
      %h4 4. View, modify and share the board