.small-12.large-12.column
  - @board.statuses.each do |status|
    .status-lane{ :id => "status-#{status.name}", :style => "width:" +  status_lane_width(@board.statuses.size)}
      .title 
        = status.name
      .add
        %a{:href => "#", :id => "add-item", "data-status" => status.name}
          %i.icon-plus
      .items
        - @board.items.select{|i| i.status == status.name}.each do |item|
          .item
            = item.title