.row
  .small-12.large-6.column
    %h3 Add an Item
    %form#create-item{:action => "/items", :method => "POST"}
      %input{:type => "hidden", :id => "board_id", :value => @board.id}/
      %input{:type => "text", :id => "item_title", :placeholder => "Item Title", :required => ""}/
      %br/
      .key-vals
      %br/
      %h4 Add arbitary key values
      %input.item-key{:placeholder => "Key", :type => "text", :id => "item-key"}/
      %input.item-value{:placeholder => "Value", :type => "text", :id => "item-value"}/
      %br/
      %a#add-key-value.button Add Key-Value Pair
      %br/
      %input.button.success{:type => "submit", :value => "Create"}/
%a.close-reveal-modal ×