#board-show {
  position: relative;
}

.status-lane {
  position: relative;
  min-height: 500px;
  background: linear-gradient(#333745, lighten(#333745, 7%));
  border:1px solid #9f7037;
  border: 4px solid #77C4D3;
  display: inline-table;
  min-width: 100px;
  .title {
    background-color: #77C4D3;
    padding: 5px;
    width: 50%;
    color: #333745;
  }
  .add {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    a {
      color: #77C4D3;
    }
  }
}

#add-item-modal {
  background-color: #DAEBED;
}

.dark {
  background-color: #333745 !important;
}

.item {
  background-color: #F6F792;
  width: 80%;
  margin: 5px auto;
  padding: 5px;
  color: #333745;
}