@import url(http://fonts.googleapis.com/css?family=Monda);

footer {
  p, a {
    color: #aaa;
    font-size: 0.7em;
    display: inline;
  }
}

.header {
  margin-bottom: 10px;
}

.padded-left-14 {
  padding-left: 14px;
}

.message {
  font-style: italic;
  color: #aaa;
  font-size: 0.9em;
}