@import "_variables";
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/buttons";

.button-bright {
  @include button-base;
  @include button-size;
  @include button-style($bright, 0, false);
}

.button {
  box-shadow: none;
}

.panel {
  background-color: #f8f8f8;
}

.reveal-modal {
  top: 0px;
  margin-bottom: 5px;
  table {
    background: none;
    border: none;
    margin-bottom: 2px;
    tr:nth-child(even) {
      background: none;
    }
    td {
      padding-left: 0px;
    }
  }
}

.close-reveal-modal {
  color: red !important;
}