ul.right {
  li.has-form {
    padding-right: 20px;
  }
}

span.label {
  margin-right: 5px;
  background-color: #77C4D3 !important;
  padding: 15px;
  a {
    margin-left: 5px;
  }
}

.spaced {
  margin: 20px 0px;
}

.hidden {
  visibility: hidden;
}

#status-list {
  margin-bottom: 10px !important;
  a {
    color: red;
  }
}
